* {
  --primary: #34495E;
  --primaryOpacity: rgba(52, 73, 94, 0.3);
  --action: #D35400;
  --actionOpacity: rgba(211, 84, 0, 0.3);
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ECF0F1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
  background: var(--action);
  border: 0;
  cursor: pointer;
}

header {
  width: 100vw;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--primary);
  font-family: "Verdana", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 0 0;
  width: 100%;
  min-width: 300px;
}

#share-link {
  text-align: center;
}

#copied {
  color: var(--primary);
  font-size: 0.9em;
  margin-top: 5px;
}

.highlight {
  font-family: "Verdana", sans-serif;
  color: #D35400;
  font-weight: 500;
  letter-spacing: 2px;
}

.detail {
  color: var(--primary) !important;
  font-weight: normal !important;
}

/*List gare*/

.station-search-container {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.station-element ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.station-element ul li {
  color: var(--primary);
  width: 25%;
  min-width: 200px;
  padding-left: 1rem;
  font-size: 80%;
}

.map-container-element+#trainLoader-buttonSearch-container {
  display: none;
}

#trainLoader-buttonSearch-container {
  --button-size: 110px;
  width: 100vw;
  min-height: 200px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: calc(-1 * (200px / 2));
}

#trainLoader-buttonSearch-container p {
  font-weight: bold;
  color: #D35400;
}

.station-element h2 {
  color: var(--primary);
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#error-city {
  font-weight: bold;
  color: red;
  margin-left: 2rem;
}

/*search-button*/

#search-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  overflow: hidden;
}

#search-btn-container:active,
#search-btn-container:hover {
  box-shadow: -1px 2px 10px 3px var(--primaryOpacity);
  -webkit-box-shadow: -1px 2px 10px 3px var(--primaryOpacity);
  -moz-box-shadow: -1px 2px 10px 3px var(--primaryOpacity);
  -ms-box-shadow: -1px 2px 10px 3px var(--primaryOpacity);
  -o-box-shadow: -1px 2px 10px 3px var(--primaryOpacity);
}

.search-btn-container {
  width: var(--button-size);
  height: var(--button-size);
}

#search-button {
  font-size: 2rem;
  width: var(--button-size);
  height: var(--button-size);
  position: absolute;
  border: none;
  background-color: hsl(24, 100%, 38%);
  overflow: hidden;
  border-radius: 50%;
}

#search-button img {
  position: relative;
  z-index: 99;
  width: 60px;
}

#search-button:focus {
  outline: none;
}

#search-button:after {
  content: '';
  border-radius: 50% !important;
  width: var(--button-size);
  height: var(--button-size);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -70px;
  background-color: var(--action)
}

#station-search-container-by-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#station-search-container-by-city-input {
  border-radius: 5px;
  border: 1px solid var(--primary);
  padding: 5px;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 25%;
  min-width: 250px;
  height: 3rem;
  background-color: transparent;
  outline: none;
  -moz-box-shadow: inset 0px 0px 5px 1px var(--primaryOpacity);
  -webkit-box-shadow: inset 0px 0px 5px 1px var(--primaryOpacity);
  -o-box-shadow: inset 0px 0px 5px 1px var(--primaryOpacity);
  box-shadow: inset 0px 0px 5px 1px var(--primaryOpacity);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=var(--primaryOpacity), Direction=NaN, Strength=50);
}

#station-search-container-by-city-input::placeholder {
  font-size: 1.5rem;
  line-height: 3rem;
  color: var(--primaryOpacity);
  margin: 0 0 0 1rem;
}

.station-search-container-by-city-label {
  color: var(--primary);
}

#train-station.loader {
  background-image: url('./img/yourPosition.png');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -37px;
  margin-left: -25px;
  animation: flash 1s linear infinite;
  z-index: 999;
}

@keyframes flash {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#mapcontainer.map-container-element+#search-btn-container.active-button {
  display: none;
}

#station-search-container-by-city.active-button {
  display: none;
  height: 0;
}

/*map-container*/
.map-container-element {
  min-width: 300px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.map-container-element #mapid {
  border: 5px solid #FFF;
  -moz-box-shadow: 4px 4px 6px -3px #D0D3D4;
  -webkit-box-shadow: 4px 4px 6px -3px #D0D3D4;
  -o-box-shadow: 4px 4px 6px -3px #D0D3D4;
  box-shadow: 4px 4px 6px -3px #D0D3D4;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#D0D3D4, Direction=134, Strength=6);
}

#mapid {
  flex: 1;
}

footer {
  color: var(--primary);
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  text-align: center;
  margin: 1vh auto;
}

footer a {
  color: #D35400;
  text-decoration: none;
}

/*Mobile*/

/*landscape mode */
@media(max-width: 800px) and (orientation: landscape) {
  header {
    visibility: hidden;
  }

  footer {
    visibility: hidden;
  }

  .leaflet-container {
    overflow: visible !important;
  }
}

/*portrait*/
@media(max-width: 450px) {
  header {
    visibility: visible;
  }

  footer {
    visibility: visible;
  }

  #station-search-container-by-city-input {
    min-width: 300px;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .leaflet-container {
    overflow: hidden !important;
  }
}

/*all mobile config*/
@media(max-width: 800px) {
  header {
    height: 11vh;
  }

  h1 {
    font-size: 8vw;
    line-height: 7.5vw;
    padding-top: 1rem;
  }

  #stations {
    display: none;
  }

  .map-container-element {
    flex: 1;
    padding: 0.2rem;
  }
}